doctype html
html
  head
    link(rel='icon', type='image/x-icon', href='res/icon/favicon.ico')
    title Desie Dog Blog | Forum
    meta(name='description', content='A blog about Desie the dog! Come read about her stories and share your own with us.')
    meta(http-equiv='content-language', content='en')
    meta(charset='UTF-8')
    meta(name='author', content='Aaron Michael McNulty')
    base(href='/')
    link(rel='stylesheet', type='text/css', href='css/forum/forum.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  body
    // The top nav bar
    div(data-include='../templates/nav/topBar.html')
    #content
      h2#pageHeader Discussions and Articles
      p#pageDescription Here you will find articles with a wide range of topics. Join the discussion by commenting on articles that you find interesting. Our mission is to spread knowledge to pet owners in an attempt to make this a better world for both owners and their pets.
      hr
      div#featuredBox
        div.boxSection
          img#featuredPoster(src="" alt="Featured Article Poster")
        div.boxSection
          p#featuredHeadline
          a#featuredLink(href="") Read Article
      hr
      div#articleSection
    // The bottom footer
    div(data-include='../templates/nav/myFooter.html')
    script(src='js/header.js' type='text/javascript')
    script(src='../js/forum.js', type='text/javascript')
