doctype html
html
  head
    // <link rel="icon" type="image/x-icon" href="res/icon/favicon.ico">
    title Desie Dog Blog | Welcome!
    meta(name='description', content='A blog about Desie the dog! Come read about her stories and share your own with us.')
    meta(http-equiv='content-language', content='en')
    meta(charset='UTF-8')
    meta(name='author', content='Aaron Michael McNulty')
    base(href='/')
    link(rel='stylesheet', type='text/css', href='css/home/home.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  body
    // The top nav bar
    div(data-include='../templates/nav/topBar.html')
    #homeContent
      #landing
        #landingTop
          h1#landingSlogan
            | A Place For All Things Dog
            br
            |                         And The Owners That Love Them!
          #thumbnailWrapper
            img.landingThumbnail(alt='Dog House', src='res/img/thumbnails/dogHouse.png')
            img.landingThumbnail(alt='Bone', src='res/img/thumbnails/dogBone.png')
            img.landingThumbnail(alt='Paw', src='res/img/thumbnails/dogPaw.png')
            img.landingThumbnail(alt='Heart', src='res/img/thumbnails/heart.png')
      #quoteSection
        #QStopFade
        #QSleft
          img#desiePencil(alt='pencil drawing of desie', src='res/img/desie_pencil.png')
        #QSright
          h1#quoteHeader ~ Desie's Quote Of The Week ~
          br
          p#quoteOfTheWeek
            q
              | I really love it here in California! I miss my mommy in Ohio :( But I know I will see her soon!!!
            |  -- Desie The Dog
        #QSbottomFade
      #infoBoxSection
        #boxWrapper
          #aboutIB.infoBox
            .pictureBox.left
              img(src='res/img/thumbnails/about.png', alt='About Us')
            .IBcontent.right
              p.IBCwording
                | Learn about desiedog.com, our story, the team, and FAQs.
              .IBCbutton
                | About Us
          #forumIB.infoBox
            .pictureBox.right
              img(src='res/img/thumbnails/forum.png', alt='Forum')
            .IBcontent.left
              p.IBCwording
                | Check out our trending topics on the bark board.
              .IBCbutton
                | Forum
          br
          #galleryIB.infoBox
            .pictureBox.left
              img(src='res/img/thumbnails/gallery.png', alt='Gallery')
            .IBcontent.right
              p.IBCwording
                | Submit your photo to get voted top dog of the week and win!
              .IBCbutton
                | Gallery
          #shopIB.infoBox
            .pictureBox.right
              img(src='res/img/thumbnails/shop.png', alt='Shop')
            .IBcontent.left
              p.IBCwording
                | See our favorite items for our furry friends at the shop.
              .IBCbutton
                | Shop
    // The bottom footer
    div(data-include='../templates/nav/myFooter.html')
    script(src='js/header.js' type='text/javascript')
    script(src='js/home.js', type='text/javascript')
