doctype html
html
  head
    title Desie Dog Blog | Photo Uploader
    meta(name='description', content='A blog about Desie the dog! Come read about her stories and share your own with us.')
    meta(http-equiv='content-language', content='en')
    meta(charset='UTF-8')
    meta(name='author', content='Aaron Michael McNulty')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  body
    label(for="profilePic") Upload a photo
    input(type="file" id="profilePic")
    div(id="holder" style="width:200px; height:200px; border: 10px dashed #ccc")
    button(id="submitButton") Submit
    button(id="check") Check
    div#imageBox
        img#myImage
    script(src='../js/photo.js', type='text/javascript')