<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="res/icon/favicon.ico">
        <title>Desie Dog Blog | Shop</title>
        <meta name="description" content="A blog about Desie the dog! Come read about her stories and share your own with us.">
        <meta http-equiv="content-language" content="en">
        <meta charset="UTF-8">
        <meta name="author" content="Aaron Michael McNulty">
        <base href="/">
        <link rel="stylesheet" type="text/css" href="css/shop/shop.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--The top nav bar-->
        <div data-include="../templates/nav/topBar.html"></div>

        <div id="construction"></div>

        <!--The bottom footer-->
        <div data-include="../templates/nav/myFooter.html"></div>


        <script src="../js/shop.js" type="text/javascript"></script>
    </body>
</html>