doctype html
html(lang='en')
	head
		title Desie Dog Articles | How to make your dog love you
	body
		h1 How to make your dog love you
		p Your dog should already love you because you are a human. You feed them and give them a place to live. You might even play with them once in a while so, they should love you unconditionally.