doctype html
html(lang='en')
	head
		title Desie Dog Articles | Is Your Dog Well Trained?
	body
		h1 Is Your Dog Well Trained?
		p Does your dog beg for food at the dinner table? Does he bring dirty toys in from outside and plop them on your pillow? If you said yes to either of these you probably need to consider sending your dog to the trainer.