@import "../partials/standards"
@import "../partials/reset"
@import "../nav/header"
@import "../nav/footer"
@import "../partials/articleBox"

#content
    background: url("../../res/img/background/subtleBackground.jpg") center center repeat
    width: 100%

#pageHeader
    margin: 0px
    padding: 10px 0px 10px 0px
    text-align: center

#pageDescription
    width: 50%
    margin: 0 auto
    line-height: 1.5em
    font-size: 1.2em

#featuredBox
    @extend .shadowBox
    @extend .centerHorizontal
    width: 700px
    height: 250px

.boxSection
    width: 50%
    height: 100%
    float: left

#featuredPoster
    @extend .centerBoth
    max-width: 300px

#featuredHeadline
    width: 100%
    line-height: 1.3em
    font-size: 1.3em
    padding: 0px 10px 0px 0px
    box-sizing: border-box

#featuredLink
    @extend .link
    position: absolute
    bottom: 10px
    font-size: 1.2em

#articleSection
    text-align: center 