.link {
  text-decoration: none; }

.link:hover {
  color: #8888ff; }

.greyBox, .shadowBox, .smallArticle {
  background-color: rgba(221, 221, 221, 0.85);
  border: 1px solid #333333; }

.input, input {
  border: none;
  outline: none;
  border-bottom: 2px solid #333333;
  font-size: 1.1em;
  background: none;
  padding: 4px 4px 4px 4px; }

.input:focus, input:focus {
  border-color: #01579b;
  box-shadow: 0px 6px 6px -6px #01579b; }

.input::placeholder, input::placeholder {
  font-size: 0.8em; }

.shadowBox, .smallArticle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 200px;
  margin: 20px 20px 20px 20px;
  box-shadow: 10px 10px 10px 3px #5c5c5c; }

.shadowBox:hover, .smallArticle:hover {
  box-shadow: 12px 12px 10px 3px #404040; }

.left {
  position: relative;
  float: left; }

.right {
  position: relative;
  float: right; }

.centerVertical {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.centerHorizontal {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }

.centerBoth {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.mainHeaderUnderline {
  border-bottom: 5px solid blue; }

#AVheader {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center; }

.AVheaderItem {
  display: inline-block;
  width: 25%;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: blue; }

.AVheaderItem:hover {
  animation: 0.5s ease-in-out headerHover forwards; }

@keyframes headerHover {
  0% {
    box-shadow: inset 0px 0px 1px rgba(128, 128, 128, 0.1); }
  100% {
    box-shadow: inset 0px 0px 80px gray; } }
.AVsubView {
  display: none; }

#wysihtml5-toolbar {
  padding: 16px 0px 16px 0px; }
  #wysihtml5-toolbar a {
    display: inline-block;
    background-color: #efefef;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 5px 10px 5px;
    padding: 8px 5px 8px 5px;
    border: 1px solid black;
    cursor: pointer; }

#imageCaption {
  margin-left: 10px; }

.selected, .selectedTab {
  box-shadow: inset 0px 0px 8px #333333; }

#AVnewArticle textarea {
  width: 90%;
  height: 80vh; }

#submitButton {
  background-color: #bfbfbf;
  padding: 8px 5px 8px 5px; }

#updateButton {
  background-color: #bfbfbf;
  padding: 8px 5px 8px 5px;
  display: none; }

#resetButton {
  background-color: #bfbfbf;
  padding: 8px 5px 8px 5px; }

.smallArticle {
  text-align: center;
  vertical-align: top;
  width: 310px;
  height: 400px; }

.redBorder {
  box-shadow: 0px 0px 10px 3px red;
  border-color: red; }

.redBorder:hover {
  box-shadow: 0px 0px 10px 3px red;
  border-color: red; }

.greenBorder {
  box-shadow: 0px 0px 10px 3px green;
  border-color: green; }

.greenBorder:hover {
  box-shadow: 0px 0px 10px 3px green;
  border-color: green; }

.articlePoster {
  max-width: 300px;
  margin-top: 5px; }

.articleHeadline {
  text-align: left;
  line-height: 1.5em;
  font-size: 1.1em;
  padding: 0px 15px 0px 15px;
  word-break: break-all; }

html, body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

#tabSection {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  float: left;
  padding-top: 20px;
  background-color: #333;
  box-sizing: border-box; }

.tab {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 1.2em;
  background-color: #d3d3d3;
  border: 2px solid #a9a9a9;
  border-bottom-width: 1px;
  border-top-width: 1px;
  padding-left: 8px;
  box-sizing: border-box;
  cursor: pointer; }

.tab:hover {
  background-color: #e3e3e3; }

.selectedTab {
  background-color: #808080; }

.mainView {
  display: none;
  width: calc(100% - 250px);
  float: right;
  padding: 8px 10px 0px 8px;
  box-sizing: border-box; }
