<div id="myFooter">
    <p id="copyright">
        &#169 www.desiedog.com 2017
    </p>
    <div id="footerLeft">
        <a href="/">
            Home
        </a><br>
        <a href="/about">
            About Us
        </a><br>
        <a href="/forum">
            Bark Board
        </a><br>
        <a href="/gallery">
            Photo Gallery
        </a><br>
        <a href="/shop">
            Shop
        </a><br>
        <a href="http://www.youtube.com">
            Desiedog YouTube
        </a><br>
        <a href="http://www.twitter.com">
            Desiedog Twitter
        </a><br>
        <a href="http://www.instagram.com">
            Desiedog Instagram
        </a>
    </div>
    <div id="footerRight">
        <h2>Contact Us</h2>
        <a href="tel:999-999-9999">999-999-9999</a><br>
        <a href="email:desiedog@gmail.com">desiedog@gmail.com</a><br>
        <div id="sendAMessage">
            Message Us
        </div>
    </div>
</div>