<div id="topBar">
    <div id="leftLogo">
        <img id="topBarLogo" src="../res/img/boneLogo.png">
        <p id="topBarUrl">
            desiedog.com
        </p>
    </div>
    <div id="rightNav">
        <nav>
            <a href="/" class="navButton" id="homeButton">Home</a>
            <a href="/about" class="navButton" id="aboutButton">About</a>
            <a href="/forum" class="navButton" id="discusButton">Discussions</a>
            <a href="/gallery" class="navButton" id="galleryButton">Gallery</a>
            <a href="/shop" class="navButton" id="shopButton">Shop</a>
        </nav>
        <div id="userSection">
            <div id="signIn">
                SIGN IN
            </div>
            <div id="loggedIn">
                <div id="topBarProfilePic">
                    <img src="../res/img/desie_pencil.png" alt="Pic">
                    <div id="topBarNotification">3</div>
                </div>
                <p id="topBarUserWelcome">
                    Hi, <span id="topBarUserName"></span>
                </p>
                <div id="loggedInDropDown">
                    <h4 id="LIDDheader">Desiedog.com Account Control</h4>
                    <div id="dashboardButton" class="dropDownItem">
                        <p>DASHBOARD</p>
                    </div>
                    <div id="messagesButton" class="dropDownItem">
                        <p>MESSAGES</p>
                    </div>
                    <div id="portalButton" class="dropDownItem">
                        <p>MY-PORTAL</p>
                    </div>
                    <div id="settingsButton" class="dropDownItem">
                        <p>SETTINGS</p>
                    </div>
                    <div id="logOutButton" class="dropDownItem" id="DDIlogout">
                        <p>LOG OUT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>