@import "../partials/components"

#wysihtml5-toolbar 
	height: 40px
	margin-top: 30px
	a
		background-color: #efefef
		color: black
		text-decoration: none
		font-weight: bold
		padding: 8px 5px 8px 5px
		border: 1px solid black
		margin: 0px 5px 0px 5px

.selected
	box-shadow: inset 0px 0px 8px #333333

textarea
	width: 90%
	height: 80vh

#submitButton
	background-color: #bfbfbf
	padding: 8px 5px 8px 5px